.container {
  p{
    text-align: left;
    font-size: 12px;
    padding: .4em .2em;
    background-color: #00000057;
    width: fit-content;
    color: #888888;
  }
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid #494949;
  border-radius: 4px;
  resize: none;
  font-family: inherit;
  font-size: 14px;
}



.charCount {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: left;
}
