.tabs{
  display: flex;
  justify-content: center;
  align-items: center;

  button{
    background-color: rgb(65, 65, 65);
    font-size: 12px;
    padding: .4rem .6rem;
    border-radius: 4px;
  }
 
}
.active{
  background-color: rgb(109, 109, 109)!important;
}

.main{
  border-top-right-radius: unset!important;
  border-bottom-right-radius: unset!important;
}

.settings{
  margin-left: 1px;
  border-top-left-radius: unset!important;
  border-bottom-left-radius: unset!important;
}